* {
  margin : 0px;
  padding: 0px;
}

header {
  width : 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  padding-top: 30px;
  margin-bottom: 10px;
}

header h1 {
  width : 60% ;
  height: 1.5em;
  padding: 5px;
  background-color: #73AD21;
  text-align: center;
  color: white;
  border-radius: 10px;
}

form {
  width : 60% ; 
  margin-left: 20%;
  padding: 20px;
}

label {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
}

fieldset {
  margin-top: 5px;
  padding: 5px 10px;
  width: 65%;
}

.tc1{
  height: 30px; 
  width: 70%;
}

.telc {
  height: 30px;
}
.l1 {
  display: inline-block;
}
textarea {
  width: 70%;
  height: 50px;
}
 
.bc {
  margin-top: 20px;
}

#b1, #b2 {
  width : 40%;
  height: 30px;
  background-color: #73AD21;
  color: white;
  border: none;
}